// Swiper Custom
:root {
    --swiper-navigation-size: 17px;
    --swiper-navigation-color: white; 
}

.swiper{

    &-container {
        width: 40%; 
        height: 102%;
        margin-left: 44%;
    }

    &-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-scrollbar {
        background-color: rgba(0,0,0,0);
        bottom: 1%!important;
        width: 230px!important;
        right: 10%!important;
        left: auto!important;

        &-drag {
            background-color: #2bd483;
            width: 210px!important;
        }
    }

    &-button {
        &-prev, &-next {
            top: 90%!important;
        }

        &-prev {
            left: auto;
            right: 57px;
        }

        &-next {
            right: 10px;
        }
    }
}
// END Swiper Custom

// Document Styles
@main-color: #2bd483;
.main-font-style (@font-size) {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-stretch: semi-condensed;
    font-style: normal;
    font-size: @font-size;
    line-height: normal;
    letter-spacing: normal;
} 

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--main {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    min-width: 1900px;
    position: relative;
    overflow: hidden;
}

.container {
    padding: 33px 42px;
}

.required-field {
    color: #fb4d3d!important;
    border: none!important;
    border-bottom: 1px solid #fb4d3d!important;

    &::placeholder {
        color: #fb4d3d!important;
    }
}

// Social Links
.social-links{
    &-container {
        &--header {
            position: absolute;
            right: 42px;
            top: 50%;
            transform: translateY(-50%);
        }

        &--footer {
            width: 10%;
            
            & ul {
                display: flex;
                justify-content: space-around;
                align-items: center;

                & li {
                    margin: 0;

                    & a {
                        color: black;
                    }
                }
            }
        }
    }

    &-list {
        list-style-type: none;
    }

    &-item {
        margin-bottom: 25px;

        &--link {
            color: white;
            text-decoration: none;
        }
    }
}
// END Social Links

// Button Hide

.btn-hide {
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0);
    outline: none;
    border: none;
    position: relative;
    align-self: flex-end;

    &:hover, &:focus, &:active {
        border: none;
        outline: none;
    }

    &--line {
        &--green {
            stroke: @main-color;
            stroke-width: 9px;
        }
        
        &--white {
            stroke: white;
            stroke-width: 9px;
        }
    }
}

// END Button Hide


// Button More
.btn-more {
    width: 182px;
    height: 58px;
    padding: 20px 40px;
    background-color: @main-color;
    border: none;
    .main-font-style(31px);
    text-align: left;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.btn-more {
    &:active, &:focus, &:hover {
        background-color: darken(@main-color, 7%);
        outline: none;
        border: none;
    }
    & i:nth-child(1) {
        margin-left: 5px;
        margin-right: -7px;
        color: white;
    }
}
// END Button More

// END Document Styles


// Container Header

.header {
    min-height: 940px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    &-nav {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }
    &-content {
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;

        &-bg {
            width: 78%;
            height: 100%;
            position: absolute;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &-title--container,
        &-text--container {
            width: 480px;;
            display: flex;
            align-items: center;
        }

        &-title {
            text-transform: uppercase;
            .main-font-style(83px);
            text-align: left;
            color: #2bd483;
            font-weight:bold;
        }

        &-text {
            margin-top: 10px;
            .main-font-style(53px);
            text-align: left;
            font-weight: bold;
        }
    }
}

// Navigation Bar

.nav {
    &-logo--container {
        width: auto;
        display: flex;
        justify-content: flex-start;
    }
    &-menu--container {
        width: auto;
        display: flex;
        justify-content: flex-end;
    }
    &-menu {
        display: flex;
        list-style-type: none;

        &--item {
            margin-left: 80px;

            & a  {
                color: black;
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-decoration: none;
                text-transform: uppercase;

                &:visited, &:active {
                    color: black;
                    font-family: 'Barlow Semi Condensed', sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                &:hover {
                    border-bottom: 2px solid black;
                }
                
            }
        }
    }
}

.item-inverted {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: uppercase;
    
    & a {
        color: white;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-decoration: none;
        text-transform: uppercase;

        &:visited, &:active {
            color: white;
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-decoration: none;
            text-transform: uppercase;
        }
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}

// END Navigation Bar

// END Container Header

// Container 2

.container-2 {
    display: flex;
    justify-content: space-between;
    height: 322px;
}

.company-transform {
    &-logo-container, &-info-container {
        position: relative;
    }

    &-logo-container {
        margin-left: 100px;
        width: 263px;
        height: 100%;
    }

    &--color-shape-left {
        height: 653px;
        width: 45px;
        position: absolute;
        left: 0;
    }

    &--color-shape-left--container {
        position: absolute;
        right: -42px;
        height: 260px;
        width: 1373px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #fff;
    }

    &--color-shape-right--container {
        position: absolute;
        right: -42px;
        bottom: -50%;
        transform: translateY(25%);
    }

    &--text {
        color: black;
        .main-font-style(48px);
        font-weight: bold;
        text-align: left;
        z-index: 1;
        margin-right: 100px;
    }

    &-logos--container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        align-items: center;
    }
}

#logo-old {
    position: absolute;
    z-index: -1;
}

// END  Container 2

// Container 3
.container-3 {
    height: 590px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        .main-font-style(72px);
        color: @main-color;
        font-weight: bold;

        &--container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-reason {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--container {
            height: auto;
            width: 100%;
            margin: 67px 0;
            display: flex;
            justify-content: space-around;
        }
        &--text {
            margin-top: 60px;
            .main-font-style(32px);
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

//END Container 3

// Container 4

.container-4 {
    padding: 0 42px 33px 42px;
    height: 670px;
    width: 100%;
    background: linear-gradient(180deg, white 50%, black 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &--color-shape-right {

        &--container {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &-title {
        .main-font-style(73px);
        font-weight: bold;

        &--container {
            height: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-job {
        width: 30%;
        height: 350px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #e5e5e5;
        padding: 50px 50px 20px 50px;
        margin: 0px 34px;

        &--container {
            margin-top: 45px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--title {
            .main-font-style(33px);
            font-weight: bold;
        }

        &--location {
            .main-font-style(33px);
            font-weight: 300;
            align-self: flex-start;
        }

        &--button {
            margin-right: -50px;
            align-self: flex-end;
        }

        & svg {
            position: absolute;
            bottom: -180px;
            left: -120px;
            z-index: 1;
        }
    }

    &-button-main {
        width: fit-content;
        margin-top: 60px;
    }
}

// END Container 4

// Container 5

.container-5 {
    padding: 33px 0px 0px 0px;
    height: 1160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--top {
        height: 810px;
        width: 100%;
        background: linear-gradient(90deg, black 0% 25%, white 25% 100%);
        display: flex;
    }

    &--bottom {
        height: 350px;
        width: 100%;
        background: white;
        display: flex;
        position: relative;
    }

    &-title {
        .main-font-style(93px);
        color: @main-color;
        text-align: right;
        &--container {
            width: 25%;
            height: 100%;
            padding: 0 40px;
            display: flex;
            justify-content: flex-end;
        }
    }

    &-logotype {
        
        &--container {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
        }

        &--images {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 170px;
        }
    }

    &-phrase {
        .main-font-style(73.5px);
        font-weight: bold;
        align-self: flex-start;
        padding: 0 36px;
        margin-top: 150px;
    }

    &-employee-quote {
        width: 530px;
        height: 470px;
        background: @main-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 34px;
        padding: 100px 30px 30px 30px;
        
        &--container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;
        }

        &--avatar {
            height: 207px;
            width: 207px;
            position: absolute;
            top: -50%;
            transform: translateY(60%);
        }

        &--text {
            .main-font-style(26.5px);
            font-weight: bold;
            color: white;
            text-align: left;
            margin: 20px 0;
        }

        &--fullname {
            .main-font-style(26.5px);
            font-weight: 300;
            color: white;
            text-align: right;
            text-transform: uppercase;
        }

        &--position {
            .main-font-style(26.5px);
            font-weight: 300;
            color: white;
            text-align: right;
            text-transform: uppercase;
        }
    }
}

// END Container 5

// Container 6

.container-6 {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, white 60%, black 60%);
    position: relative;

    .container-6-title {
        .main-font-style(73.5px);
        color: @main-color;

        &--container {
            height: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .container-6-news {
        height: 650px;
        width: 530px;
        margin: 0px 34px;
        padding: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &-1, &-2, &-3 {
            background-position: top center;
            background-size: 100% 50%;
            background-repeat: no-repeat;
        }

        &-1 {
            background-image: url(../img/wn-img1.png);
        }
        &-2 {
            background-image: url(../img/wn-img2.png);
        }
        &-3 {
            background-image: url(../img/wn-img3.png);
        }

        &--container {
            height: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: -20%;
        }

        &--title {
            .main-font-style(26px);
            font-weight: 100;
            color: white;
            text-align: left;
            text-transform: uppercase;
            padding: 18px 75px 18px 18px;
            align-self: flex-start;
            margin-left: -22px;

            &-1 {
                background: #fb4d3d
            }
            &-2 {
                background: #345995
            }
            &-3 {
                background: #eac435
            }
        }

        &--text {
            margin-top: 65%;
            .main-font-style(26.5px,);
            color: white;
            font-weight: bold;
        }

        &--date-button--container {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        &--date {
            .main-font-style(26.5px);
            font-weight: 300;
            color: white;
        }

        &--button {
            margin-right: -22px;
        }
    }
}

// END Container 6

// Container Footer

.footer {
    margin-top: 190px;
    height: auto;
    min-height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;

    &--top {
        height: 50%;
        min-height: 600px;
        display: flex;
        justify-content: space-between;
        background: #000;
        padding: 0 42px;

        &-image {
            width: 100%;
            height: 100%;
            position: absolute;

            &--container {
                width: 415px;
                height: 575px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        &--fullname {
            .main-font-style(26.5px);
            font-weight: 500;
            color: white;
            text-align: right;
            z-index: 2;
            margin: 0 45px 0 0;
            text-transform: uppercase;
        }

        &--position {
            .main-font-style(26.5px);
            font-weight: 300;
            color: white;
            text-align: right;
            z-index: 2;
            margin: 0 45px 80px 0;
            text-transform: uppercase;
        }
    }

    &-form {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 70px 70px 1fr;

        &--container {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        &-title {
            .main-font-style(73.5px);
             color: @main-color;
             font-weight: bold;
            &--container {
                display: flex;
                justify-content: flex-start;
            }
        }

        &--input {
            width: auto;
            height: fit-content;
            margin-right: 70px;
            min-height:35px;
            background-color: rgba(0,0,0,0);
            .main-font-style(26.5px);
            color: white;
            font-weight: 300;
            border: none;
            border-bottom: 1px solid white;

            &::placeholder {
                .main-font-style(26.5px);
                color: rgb(175, 175, 175);
                font-weight: 300;
            }
            

            &:focus, &:active {
                outline: none;
            }
        }

        &--textarea-message {
            background-color: rgba(0,0,0,0);
            .main-font-style(26.5px);
            margin-right: 70px;
            height: 45px;
            color: white;
            font-weight: 300;
            border: none;
            border-bottom: 1px solid white;
            resize: none;
            grid-area: 2 / 1 / 2 / 4;

            &::placeholder {
                .main-font-style(26.5px);
                color: rgb(175, 175, 175);
                font-weight: 300;
            }

            &:focus, &:active {
                outline: none;
            }


        }

        &--checkbox-container {
            margin-top: 30px;
            grid-area: 3 / 1 / 4 / 3;
            display: flex;
            align-items: flex-start;

            & #check-agreement-checkbox {
                .main-font-style(20px);
                position: absolute; 
                overflow: hidden; 
                clip: rect(0 0 0 0); 
                height:1px; 
                width:1px; 
                margin:-1px; 
                padding:0;
                border:0;

                & + #check-agreement-label {
                    background-image: url('../img/checkbox.png');
                    padding-left:20px;
                    height:20px; 
                    display:inline-block;
                    line-height:20px;
                    background-repeat:no-repeat;
                    background-position: 0 0;
                    background-size: 20px 40px;
                    vertical-align:middle;
                    cursor:pointer;
                }

                &:checked + #check-agreement-label {
                    background-position: 0 -20px;
                }
 
            }


            & div {
                .main-font-style(20px);
                color: white;
                height: 24px;
                width: 90%;
                margin: 0 10px;
                display: flex;
                justify-content: center;
                overflow: hidden;
            }

            & .show-more {
                .main-font-style(20px);
                background: rgba(0,0,0,0);
                border: none;
                color: @main-color;
                display: flex;
                align-items: center;
                width: auto;
                padding-bottom: 5px;

                &--container {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: @main-color;
                    width: 10%;
                    vertical-align: middle;
                    & i {
                        font-size: 16px;

                        &:nth-child(2) {
                            margin-left: 5px;
                            color: white;
                        }
                    }

                    &:hover {
                        transform: scale(1.05, 1.05);
                        cursor: pointer;
                    }
                }

                &:hover, &:active, &:focus {
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            }
        }

        &--button-send {
            grid-area: 3 / 3 / 4 / 4;
            margin: 30px 70px 0 0;
            justify-self: end;
        }

    }
    

    &--bottom {
        height: 50%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background: #cccccc;
        padding: 0;
        position: relative;

        &-image {
            position: absolute;
            top: -39%;
            z-index: -1;
        }
    }

    &-city {
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        color: black;

        &:nth-child(1) {
            color: white;
        }

        &--container {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 160px 280px 60px 280px;
        }

        &--name, &--adress {
            .main-font-style(20px);
            font-weight: 300;

        }

        &--name {
            font-weight: bold; 
        }
    }

    &-logotype {
        &--container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 40px 280px 40px 280px;
        }
    }

    &-addition-content {

        &--container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 280px 40px 280px;
        }

        &--wrapper {
            display: flex;
            justify-content: space-around;
            width: 50%;
        }

        &--copyright, &--privacy-policy, &--secure-userdata {
            .main-font-style(20px);
            color: black;
            justify-self: flex-start;

        }

        &--privacy-policy, &--secure-userdata {
            .main-font-style(20px);

            &:visited, &:hover {
                color: black;

            }
        }
    }

    & .line {
        margin: 0 280px;
        background: #000;
        height: 2px;
        border-radius: 2px;
    }

}

// END Container Footer


// Cookies Popup 

.cookies-popup {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    opacity: 0;
    z-index: 10000;
    justify-content: space-around;
    padding: 20px 0px;
    background: @main-color;
    border-top: 1px solid black;

    &--text {
        .main-font-style(20px);
        font-weight: 400;
        &--link {
            .main-font-style(20px);

            &:visited, &:hover {
                color: black;
            }
        }
    }

    &--btn-close {
        padding: 9px 18px;
        background: #cccccc;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

// END Cookies Popup

// Screen Width > 1350px

@media screen and (max-width: 1900px) {
    .btn-more {
        .main-font-style(26px);
        font-weight: 400;
    }

    .container {
        padding: 20px 42px;

        &--main {
            max-width: 1366px;
            min-width: 1366px;
        }
    }

// Container Header

    .header {
        min-height: 580px;

        &-content {
            background-size: 70% 95%;

            &-title {
                .main-font-style(60px);
                font-weight: bold;
            }
            &-text {
                margin-top: 10px;
                .main-font-style(36px);
                text-align: left;
                font-weight: bold;
            }
        }
    }

    .nav {
        &-logo--container svg {
            width: 210px;
            height: 60px;
        }
    }

// END Container Header

// Container 2 
    
    .company-transform {
        &-logo-container, &-info-container {
            position: relative;
        }

        &-logo-container {
            margin-left: 25px;
        }
    
    
        &--color-shape-left--container {
            width: 977px;
            padding: 0 155px;
        }
    
        &--text {
            margin-right: 62px;
        }
    
        &-logos--container {
            width: 219px;
            height: 64px;
        }
    }

// END Container 2 

// Container 3 

.container-3 {
    height: 450px;

    &-title {
        .main-font-style(52px);
        color: @main-color;
        font-weight: bold;
    }
    &-reason {
        &--container {
            margin: 60px 0;
        }
        &--text {
            margin-top: 40px;
            .main-font-style(26px);
            font-weight: bold;
        }
    }
}

// END Container 3 

// Container 4 

.container-4 {
    padding: 0 42px 33px 42px;
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, white 50%, black 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &--color-shape-right {

        &--container {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &-title {
        .main-font-style(52px);
        font-weight: bold;
    }

    &-job {
        height: 310px;
        padding: 30px 40px 25px 40px;
        margin: 0px 30px;

        &--container {
            margin-top: 45px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--title {
            .main-font-style(26px);
            font-weight: bold;
        }

        &--location {
            .main-font-style(26px);
            font-weight: 300;
        }

        &--button {
            margin-right: -40px;
        }

        & svg {
            position: absolute;
            bottom: -170px;
            left: -140px;
            z-index: 1;
        }
    }
}

// END Container 4

// Container 5

.container-5 {
    padding: 33px 0px 0px 0px;
    height: auto;

    &--top {
        height: 620px;
    }

    &-title {
        .main-font-style(72px);
        &--container {
            width: 25%;
            height: 100%;
            padding: 0 40px;
            display: flex;
            justify-content: flex-end;
        }
    }

    &-logotype {
        
        &--container {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;
        }

        &--images {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 100px;
        }
    }

    &-phrase {
        .main-font-style(52px);
        font-weight: bold;
        align-self: flex-start;
        padding: 0 36px;
        margin-top: 100px;
    }

    &-employee-quote {
        width: 380px;
        height: 470px;
        margin: 0px 34px;
        padding: 100px 30px 30px 30px;
        
        &--text {
            .main-font-style(22px);
            font-weight: bold;
        }

        &--fullname {
            .main-font-style(22px);
            font-weight: 300;
            color: white;
        }

        &--position {
            .main-font-style(22px);
            font-weight: 300;
            color: white;
        }
    }
}

// END Container 5

// Container 6

.container-6 {
    height: 630px;

    .container-6-title {
        .main-font-style(52px);
        font-weight: bold;
        color: @main-color;
    }

    .container-6-news {

        &--text {
            .main-font-style(22px);
            font-weight: bold;
        }

        &--date-button--container {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        &--date {
            .main-font-style(22px);
            font-weight: 300;
        }

    }
}

// END Container 6

// Container Footer

.footer {
    padding: 0;

    &--top {
        min-height: 500px;

        &--fullname {
            .main-font-style(22px);
            font-weight: 500;
        }

        &--position {
            .main-font-style(22px);
            font-weight: 300;
        }
    }

    &-form {

        &-title {
            .main-font-style(52px);
             color: @main-color;
             font-weight: bold;
        }

        &--input {
            margin-right: 70px;
            .main-font-style(26px);
            font-weight: 300;

            &::placeholder {
                .main-font-style(26px);
                font-weight: 300;
            }
        }

        &--textarea-message {
            .main-font-style(26px);
            font-weight: 300;

            &::placeholder {
                .main-font-style(26px);
                font-weight: 300;
            }

        }

        &--checkbox-container {
            & div {
                width: 80%;
            }

            & .show-more {
                &--container {
                    width: 20%;
                }
            }
        }
    }
    

    &--bottom {
        min-height: 550px;
        &-image {
            height: 450px;
            top: -29%;
            left: -13%;
            position: absolute;
            z-index: -1;
        }
    }

    &-city {
        margin: 0;
        padding: 0 10px;

        &:nth-child(1) {
            color: white;
        }

        &--container {
            justify-content: space-around;
            padding: 160px 100px 60px 90px;
        }

    }

    &-logotype {
        &--container {
            padding: 40px 85px 40px 85px;
        }
    }

    &-addition-content {

        &--container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 85px 40px 85px;
        }

        &--wrapper {
            display: flex;
            justify-content: space-around;
            width: 50%;
        }

        &--copyright, &--privacy-policy, &--secure-userdata {
            .main-font-style(20px);
            color: black;
            justify-self: flex-start;

        }

        &--privacy-policy, &--secure-userdata {
            .main-font-style(20px);

            &:visited, &:hover {
                color: black;

            }
        }
    }

    & .line {
        margin: 0 85px;
        background: #000;
        height: 2px;
        border-radius: 2px;
    }

}

// END Container Footer
    
}

// Screen Width > 750px

@media screen and (max-width: 1350px) {
    .container {
        padding: 20px 0px;

        &--main {
            max-width: 768px;
            min-width: 768px;
        }
    }

    .nav {
        
        &-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            height: 100%;
            
            &--container {
                position: absolute;
                right: 0;
                top: 0;
                width: 50%;
                height: 100vh;
                background-color: #000;
                display: flex;
                flex-direction: column;
                justify-content: start;

                &-show {

                }

                &-hide {}
            }

            &--item {
                margin-bottom: 30px;
                padding: 0 0 10px 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                width: 70%;
            }
            

        }
    }
}

// Screen Width > 350px

@media screen and (max-width: 750px) {
    .container {
        padding: 20px 0px;

        &--main {
            max-width: 100%;
            min-width: 100%;
        }
    }
}

// Screen Width < 350px

@media screen and (max-width: 350px) {
    .container {
        padding: 20px 0px;

        &--main {
            max-width: 100%;
            min-width: 100%;
        }
    }
}